/*EVENTS*/

.event-list{
  margin: 5px auto;
  padding: 10px;
  width: 90%;
  list-style-type: none;
}

.event-list-item *{
  margin:0px;
  padding: 0px;
  text-align: left;
  width: 900px;
}

.event-list-item {
  width: 100%;
  float: left;
  overflow: auto;
  margin: 15px auto;
}

.event-date {
  width: 18%;
  max-width: 130px;
  min-width: 80px;
  float: left;
  margin: 10px 15px 0 0;
}
@media(max-width: 300px){
  .event-date{ text-align: center;}
}
.event-info{
  width: 52%;
  padding: 5px;
  float: left;
  margin-top: 25px;
}
@media(max-width: 300px){
  .event-info{}
  }

  .event-title{
    font: bold 20px Helvetica, Verdana, sans-serif;
  }
  @media(max-width: 300px){
    .event-title{float:right; font-size:16px;}
  }
  .event-description{
    padding-top: 8px;
    padding-bottom: 5px;
  }
  @media(max-width: 300px){
    .event-description{float:left;}
  }
  .event-where{
    width: 25%;
    max-width: 280px;
    float: left;
    text-align: center;
    padding: 3em 2em;
    margin: 5px;
    border-radius: 4px;
    transition: all 0.5s;
  }

  .event-where span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    font: 20px "Acme";
    color: rgba(255, 255, 255, 0.9);
    background: rgba(0, 0, 0, 0.5);
    border-radius: 4%;
    text-align: center;
  }
  .event-where span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0.9;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }

  .event-where:hover span {
    padding-right: 25px;
    color: rgba(255, 255, 255, 0.95);
    background: rgba(0, 0, 0, 0.75);
  }

  .event-where:hover span:after {
    opacity: 1;
    right: 0;
    font: 12px Helvetica #FFFFFF;
  }

  time.icon
  {
    font-size: 1em;
    display: block;
    position: relative;
    width: 95%;
    height: 8.5em;
    background-color: #fff;
    border-radius: 0.5em;
    box-shadow: 0 1px 0 #bdbdbd, 0 2px 0 #fff, 0 0 0 1px #bdbdbd;
    overflow: hidden;
    margin: 0 auto;
  }

  time.icon *
  {
    display: block;
    width: 100%;
    font-size: 1em;
    font-weight: bold;
    font-style: normal;
    text-align: center;
  }

  time.icon strong
  {
    position: absolute;
    top: 0;
    padding: 0.4em 0;
    color: #fff;
    background-color: #df421a;
    box-shadow: 0 2px 0 #e6522c;
  }
  time.icon > .strongpast{
    background-color: #726E6D;
    box-shadow: 0 2px 0 #726E6D;
  }

  time.icon em
  {
    position: absolute;
    margin-top: 5.5em;
    color: #df421a;
  }

  time.icon span
  {
    font-size: 2.8em;
    letter-spacing: -0.05em;
    padding-top: 0.8em;
    color: #2f2f2f;
  }
  time.icon > .spanpast{
    color: #726E6D;
  }

  time.icon p
  {
    letter-spacing: -0.05em;
    color: #2f2f2f;
  }
  time.icon > .ppast{
    color: #726E6D;
  }

  /* Footer */
  .footer-social {
    align-content: center;
  }
  .footer-social img {
    height: 60px;
  }

  .footer-social p {
      text-align: center;
  }
