/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
}

/* Main styles */

h1, h2, h3, h4, h5, h6, p, li, ul, ol, blockquote, table, a {
  font-family: gill-sans-nova, Arial, Helvetica, sans-serif;
  font-style: normal;
}

/* Event page styles */


/* Navigation */

.women-nav {
  text-align: right;
}

/* Banner */

/* Page content */

/* Footer */
.footer-social {
  align-content: center;
}
.footer-social img {
  height: 60px;
}

.footer-social p {
    text-align: center;
}



@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 575px)
{

  .women-nav {
    text-align: center;
    margin-top: 10px;
  }

}
