/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
}

/* Navigation */


.women-nav {
  float: right;
}

/* Banner */

/* Page content */

/* Footer */
.footer-social {
  align-content: center;
}
.footer-social img {
  height: 60px;
}

.footer-social p {
    text-align: center;
}
